
.sample-heading{
    font-size: 52px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;

}
.sample-content{
    width: 80%;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 10px;
}
.sample-main{
    display: flex;
    border-radius: 50px;
    width: 90%;
    justify-content: center;
    background-color: #fff3e0;
    padding: 80px;
}
.sample-discription{
    font-size: 18px;    text-align: center;
}
.image{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    position: absolute;
    top: -30px;
    right: 250px;
}